/* Custom styles specific to catch page */
.gotta-catch, .trade-offer {
    font-family: 'Comic Sans MS', cursive;
    color: lightslategray;
    text-align: center;
    margin-top: 20px;
}
.card-title, .text-center.h2 {
    font-family: 'Comic Sans MS', cursive;
    color: lightblue;
}
.pagination a {
    font-family: 'Comic Sans MS', cursive;
}

#textbox-container {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-image: url('../images/pokemon_emerald_textbox.png');
    width: 952px; /* 476px * 3 */
    height: 168px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#textbox-txt {
    font-size: 24px;
    color: black;
    text-align: center;
    padding: 10px;
    margin: auto;
}
/* Maintain desktop image sizes */
.custom-image {
    width: 200px;
    height: 200px;
}
/* Responsive adjustments */
@media (max-width: 767.98px) {
    .card-title {
        font-size: 1.2rem;
    }
    .pagination {
        font-size: 0.8rem;
    }
    .trade-offer-card {
        margin-bottom: 20px;
    }
    #textbox {
        width: 300px;
        height: 100px;
    }
    #textbox-txt {
        font-size: 16px;
    }
    .custom-image {
        width: 150px;
        height: 150px;
    }
}
