/* Custom styles specific to catch page */
    .gotta-catch, .trade-offer {
        font-family: 'Comic Sans MS', cursive;
        color: lightslategray;
        text-align: center;
        margin-top: 20px;
    }
    .card-title, .text-center.h2 {
        font-family: 'Comic Sans MS', cursive;
        color: lightblue;
    }
    .pagination a {
        font-family: 'Comic Sans MS', cursive;

    }
    #textbox-container {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #textbox {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-image: url('../static/images/pokemon_emerald_textbox.png');
        width: 952px; /* 476px * 3 */
        height: 168px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #textbox-txt {
        /* font-family: 'Comic Sans MS', cursive; */
        font-size: 24px;
        color: black;
        text-align: center;
        padding: 10px;
        margin: auto;
    }