/* Custom styles specific to the Home page */
.gotta-catch, .trade-offer {
    font-family: 'Comic Sans MS', sans-serif;
    color: lightslategray;
    text-align: center;
    margin-top: 20px;
}
.card-title, .text-center.h2 {
    font-family: 'Comic Sans MS', sans-serif;
    color: lightblue;
}
.pagination a {
    font-family: 'Comic Sans MS', sans-serif;
}

.my-button {
    background-color: transparent;
}

/* Custom styles specific to the Home page */
.gotta-catch, .trade-offer {
    font-family: 'Comic Sans MS', sans-serif;
    color: lightslategray;
    text-align: center;
    margin-top: 20px;
}
.card-title, .text-center.h2 {
    font-family: 'Comic Sans MS', sans-serif;
    color: lightblue;
}
.pagination a {
    font-family: 'Comic Sans MS', sans-serif;
}