.my-forms p {
    color:white;
}

/* Responsive adjustments */
@media (max-width: 767.98px) {
    .card-title {
        font-size: 1.2rem;
    }
    .pagination {
        font-size: 0.8rem;
    }
    .my-card {
        margin-bottom: 20px;
        width: 100%;
    }
    /* Make images responsive on mobile */
    .custom-image {
        width: 80px;
        height: 80px;
    }
}

/* Set background image for the body */
body {
    background-image: url('https://wallpapercave.com/wp/wp1902707.jpg');
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-position-y: 50px;
    background-repeat: no-repeat; /* Do not repeat the background image */
    font-family: 'Arial', sans-serif; /* Your font family */
}