/* Specific to trade_offer */

.my-card-border {
    border-radius: 10px;
}

.my-card-color {
    background: linear-gradient(to bottom, #d1f1f1, #306060);
}

.my-page {
    display:none;
}

.pokemon-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.pokepc-background {
    background-image: url("{{ url_for('static', filename='images/pikachubg.png') }}");
    background-size: cover;
    background-position: center;
}