{% extends 'base.html' %}

{% block title %}PokeSwap - Trade Offer{% endblock %}

{% block extra_head %}
<style>
    /* Custom styles specific to the Home page */
    .gotta-catch, .trade-offer {
        font-family: 'Comic Sans MS', cursive;
        color: lightslategray;
        text-align: center;
        margin-top: 20px;
    }
    .card-title, .text-center.h2 {
        font-family: 'Comic Sans MS', cursive;
        color: lightblue;
    }
    .pagination a {
        font-family: 'Comic Sans MS', cursive;

    }
    #textbox-container {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #textbox {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        background-image: url('../static/images/pokemon_emerald_textbox.png');
        width: 952px; /* 476px * 3 */
        height: 168px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #textbox-txt {
        /* font-family: 'Comic Sans MS', cursive; */
        font-size: 24px;
        color: black;
        text-align: center;
        padding: 10px;
        margin: auto;
    }
</style>
{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Catch Pokemon</h1>
    <p>₽ x{{ current_user.tokens }}</p>
    <img id="pokeball-img" class="closed" src="../static/images/pokeball-pixel-closed.png" alt="pokeball-button" width="200" height="">
    <div id="pull-result"></div>
    <div id="textbox-container">
        <div id="textbox" alt="pokemon-textbox">
            <p id="textbox-txt">Click a button to catch a Pokemon!</p>
        </div>
    </div>
    <p id="error-message"></p>
    <button id="gacha-one-pull-button">
        <h2>Pokemon x1</h2>
        <p>₽ x3</p>
    </button>
    
    <button id="gacha-ten-pull-button">
        <h2>Pokemon x10</h2>
        <p>₽ x10</p>
    </button>
    <p>Note: if you already own a pokemon you will not get duplicates but you will lose one Poke Token</p>
</div>

{% endblock content %}

{% block scripts %}
<script>
    document.getElementById('gacha-ten-pull-button').addEventListener('click', function() {
        var audio = new Audio('../static/audio/Click.mp3');
        audio.play();
    });
    // Add event listener for the Gacha button
    document.getElementById('gacha-ten-pull-button').addEventListener('click', function() {
        fetch('/gacha_ten_pull', { method: 'POST' })
        .then(response => {
            console.log(response);
            if (response.ok) {
                location.reload();
                // If the response is successful (status code 200), parse the JSON response
                return response.json();
            } else if (response.status === 403) {
                location.reload();
                // If the user has insufficient tokens (status code 403), handle the error
                return Promise.reject('Insufficient tokens. GET YO MONEY UP!!');
            } else {
                // For other error cases, handle them accordingly
                return Promise.reject('An error occurred');
            }
        })
        .then(data => {
            console.log("Data: ", data);
            console.log(typeof data)
             // Clear previous Pokemon info
            pullContainer = document.getElementById('pull-result');
            while (pullContainer.firstChild) {
                pullContainer.firstChild.remove();
            }
            let pokeball = document.getElementById('pokeball-img');
            if (pokeball.classList.contains('closed')) {
                pokeball.src = '../static/images/pokeball-pixel-opened-fully.png';
                pokeball.classList.remove('closed');
            }
            let i = 0;
            textboxText = document.getElementById('textbox-txt');
            textboxText.textContent = `Congrats! You got: `;
            // Display information about the 10 random Pokemon
            data["pokemon_list"].forEach(pokemon => {
                console.log(pokemon);
                let pokemonDiv = document.createElement("div");
                pokemonDiv.classList.add("pokemon-img-container");

                let pokemonImg = document.createElement('img');
                pokemonImg.src = '../static/images/pokemon_gen4_sprites/' + pokemon["name"].toLowerCase() + '.png';
                pokemonImg.width = 200;
                pokemonImg.height = 200;

                let cardImg = document.createElement("img");
                pokemonDiv.appendChild(pokemonImg);
                document.getElementById('pull-result').appendChild(pokemonDiv);
                if (i == 9) {
                    textboxText.textContent += `and ${pokemon["name"]}!`;
                } else
                textboxText.textContent += `${pokemon["name"]}, `;
                i++;
            });
        })
        .catch(error => {
            // Handle any errors that occurred during the request
            console.error(error);
            // Display the error message on the webpage
            document.getElementById('error-message').innerText = error;
            // Show the error message element
            document.getElementById('error-message').style.display = 'block';
        })
    });
</script>
<script>
    //click audio
    document.getElementById('gacha-one-pull-button').addEventListener('click', function() {
        var audio = new Audio('../static/audio/Click.mp3');
        audio.play();
    });
    // Add event listener for one-pull gacha button
    document.getElementById('gacha-one-pull-button').addEventListener('click', function() {
        fetch('/gacha_one_pull', { method: 'POST' })
        .then(response => {
            console.log(response);
            if (response.ok) {
                // location.reload();
                // If the response is successful (status code 200), parse the JSON response
                return response.json();
            } else if (response.status === 403) {
                // location.reload();
                // If the user has insufficient tokens (status code 403), handle the error
                return Promise.reject('Insufficient tokens. GET YO MONEY UP!!');
            } else {
                // For other error cases, handle them accordingly
                return Promise.reject('An error occurred');
            }
        })
        .then(data => {
            console.log("Data: ", data);
            console.log(typeof data)
            //clear previous pull
            pullContainer = document.getElementById('pull-result');
            while (pullContainer.firstChild) {
                pullContainer.firstChild.remove();
            }
            let pokeball = document.getElementById('pokeball-img');
            if (pokeball.classList.contains('closed')) {
                pokeball.src = '../static/images/pokeball-pixel-opened-fully.png';
                pokeball.classList.remove('closed');
            }
            textboxText = document.getElementById('textbox-txt');
            textboxText.textContent = `Congrats! You got: ${data.name}`;
            // Display the result of the one-pull gacha
            let pokemonDiv = document.createElement("div");
            pokemonDiv.classList.add("pokemon-img-container");

            let pokemonImg = document.createElement("img");
            pokemonImg.src = '../static/images/pokemon_gen4_sprites/' + data.name.toLowerCase() + '.png';
            pokemonImg.width = 200;
            pokemonImg.height = 200;

            let cardImg = document.createElement("img");
            pokemonDiv.appendChild(pokemonImg);
            document.getElementById("pull-result").append(pokemonDiv)
            })

        .catch(error => {
            // Handle any errors that occurred during the request
            console.error(error);
            // Display the error message on the webpage
            document.getElementById('error-message').innerText = error;
            // Show the error message element
            document.getElementById('error-message').style.display = 'block';
        })
    });
</script>
{% endblock %}
