{% extends 'base.html' %}

{% block title %}PokeSwap - Trade Offer{% endblock %}

{% block extra_head %}
<style>
    /* Custom styles specific to the Home page */
    .gotta-catch, .trade-offer {
        font-family: 'Comic Sans MS', cursive;
        color: lightslategray;
        text-align: center;
        margin-top: 20px;
    }
    .card-title, .text-center.h2 {
        font-family: 'Comic Sans MS', cursive;
        color: lightblue;
    }
    .pagination a {
        font-family: 'Comic Sans MS', cursive;

    }
    #pokemon-textbox {
        background-image: url('../static/images/pokemon_emerald_textbox.png')
    }
</style>
{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Catch Pokemon</h1>
    <img id="pokeball-img" class="closed" src="../static/images/pokeball-pixel-closed.png" alt="pokeball-button" width="200" height="">
    <div id="pull-result"></div>
    <div id="textbox" alt="pokemon-textbox">
        <p>Click a button to catch a Pokemon!</p>
    </div>
    <h2>Pull One Pokemon</h2>
    <button id="gacha-one-pull-button">1 Pull</button>
    <h2>Pull Ten Pokemon</h2>
    <button id="gacha-ten-pull-button">10 Pull</button>
</div>

{% endblock content %}

{% block scripts %}
<script>
    // Add event listener for the Gacha button
    document.getElementById('gacha-ten-pull-button').addEventListener('click', function() {
        fetch('/gacha', { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                // Clear previous Pokemon info
                pullContainer = document.getElementById('pull-result');
                while (pullContainer.firstChild) {
                    pullContainer.firstChild.remove();
                }

                // Display information about the 10 random Pokemon
                data.forEach(pokemon => {
                    let pokemonDiv = document.createElement("div");
                    pokemonDiv.classList.add("pokemon-img-container");

                    let pokemonImg = document.createElement('img');
                    pokemonImg.src = '../static/images/pokemon_gen4_sprites/' + pokemon.name + '.png';

                    let cardImg = document.createElement("img");
                    pokemonDiv.appendChild(pokemonImg);
                    document.getElementById('pull-result').appendChild(pokemonDiv);
                });
            })
            .catch(error => console.error('Error:', error));
    });
</script>
    
<script>
    //click audio
    document.getElementById('gacha-one-pull-button').addEventListener('click', function() {
        var audio = new Audio('/static/Click.mp3');
        audio.play();
    });
    // Add event listener for one-pull gacha button
    document.getElementById('gacha-one-pull-button').addEventListener('click', function() {
        fetch('/gacha_one_pull', { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                //clear previous pull
                
                pullContainer = document.getElementById('pull-result');
                while (pullContainer.firstChild) {
                    pullContainer.firstChild.remove();
                }
                // Display the result of the one-pull gacha
                // document.getElementById('pull-result').textContent = `You obtained: ${data[0]}: ${data[1]}`;
                let pokemonDiv = document.createElement("div");
                pokemonDiv.classList.add("pokemon-img-container");

                let pokemonImg = document.createElement("img");
                pokemonImg.src = '../static/images/pokemon_gen4_sprites/' + pokemon.name + '.png';

                let cardImg = document.createElement("img");
                pokemonDiv.appendChild(pokemonImg);
                document.getElementById("pull-result").append(pokemonDiv)
            })
            .catch(error => console.error('Error:', error));
    });
</script>
<!-- function to execute when a user clicks the pokeball button -->
<script>
    
    total_pokemon_count = Pokemon.query.count()
    random_pokemon = Pokemon.query.offset(int(random.random() * total_pokemon_count)).first()

    current_user.inventory.append(random_pokemon)
</script>
{% endblock %}

