{% extends 'base.html' %}

{% block title %}PokeSwap - Home{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="../static/stylesheets/index.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    {% if current_user.is_anonymous %}
    <h1>Welcome to Pokeswap</h1>
    {% else %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% endif %}
    <h2 class="gotta-catch">Gotta catch 'em all!</h2>
    <div class="row mt-4">
        <div class="col-md-6 col-12 mb-3">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h5 class="card-title">Catch Pokemon</h5>
                    <a href="{{ url_for('main.catch') }}" class="btn btn-custom" style="background-color: transparent;">
                        <img src="{{ url_for('static', filename='images/tallgrass.png') }}" width="100" height="100" alt="Catch Pokemon">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 mb-3">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h5 class="card-title">Make a trade offer</h5>
                    <a href="{{ url_for('main.trade_offer') }}" class="btn btn-secondary">
                        <img src="{{ url_for('static', filename='images/pokeball.png') }}" width="100" height="100" alt="Pokeball">
                        ⇆
                        <img src="{{ url_for('static', filename='images/pokeball.png') }}" width="100" height="100" alt="Pokeball" class="custom-image">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center mt-5 trade-offers-container">
        <h1>Active Trade Offers</h1>
        <div class="row mt-4">
            <!-- {% if trade_offers %} -->
                {% for offer in trade_offers %}
                <a href="{{ url_for('main.trade', trade_id=offer.trade_id) }}" class="col-12 trade-offer-card mb-3">
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <h5 class="card-title">Trade #{{ offer.trade_id }}</h5>
                            <p class="card-text"><small>Posted on {{ offer.timestamp }}</small></p>
                            <img src="{{ url_for('static', filename='images/pokemon_gen4_sprites/' ~ offer.pokemon1_name ~ '.png') }}" alt="Pokemon 1" class="custom-image">
                            ⇆
                            <img src="{{ url_for('static', filename='images/pokemon_gen4_sprites/' ~ offer.pokemon2_name ~ '.png') }}" alt="Pokemon 2" class="custom-image">
                        </div>
                    </div>
                </a>
                {% endfor %}
            <!-- {% else %}
                <div class="col-12 trade-offer-card mb-3">
                    <div class="card bg-dark text-white">
                        <div class="card-body">
                            <h5 class="card-title">No Trades found...</h5>
                            <p class="card-text">Post a trade offer!</p>
                    </div>
                </a>
            {% endif %} -->
        </div>
    </div>
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            {% if page > 1 %}
            <li class="page-item"><a class="page-link" href="{{ url_for('main.index', page=page-1) }}">Previous</a></li>
            {% endif %}
            {% for p in range(1, total_pages + 1) %}
            <li class="page-item {{ 'active' if p == page else '' }}"><a class="page-link" href="{{ url_for('main.index', page=p) }}">{{ p }}</a></li>
            {% endfor %}
            {% if page < total_pages %}
            <li class="page-item"><a class="page-link" href="{{ url_for('main.index', page=page+1) }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.pagination a.page-link').forEach(link => {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                const newPage = this.getAttribute('href');
                window.location.href = newPage; // Redirect to the new URL with the correct page parameter
            });
        });
    });
</script>
{% endblock %}
