    {% extends "base.html" %}

    {% block title %}PokeSwap - Sign-up{% endblock %}

    {%block extra_head%}
    <link rel="stylesheet" href="../static/stylesheets/signup.css">
    {%endblock%}

    {% block content %}
        <!-- Signup Section -->
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <!-- <div class="card border rounded-lg border-dark" style="background-image: url('https://github.com/Rougeiv/poke_swap/blob/main/app/static/images/edited_bg_2.png?raw=true'); background-size: 100% 100%; background-repeat: no-repeat;"> -->
                    <div class="card border rounded-lg border-dark" style="background-image: url('../static/images/prof_oak_bg.png'); background-size: 110% 100%; background-position: center; background-repeat: no-repeat;">
                        <div class = "card-header text-center">
                            <div class="card-body text-center">
                                <h1 class="text-center pb-3 bg-dark text-white border rounded">Sign-up</h1>
                                <div class="text-center" style="padding-top: 28rem;">
                                    <form action="" method="post">
                                        {{ form.hidden_tag() }}
                                        <p style="color:white">
                                            {{ form.username.label }}
                                            {{ form.username(size=32) }}
                                            {% for error in form.username.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </p>
                                        <p style="color:white">
                                            {{ form.email.label }}
                                            {{ form.email(size=32) }}
                                            {% for error in form.email.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </p>
                                        <p style="color:white">
                                            {{ form.password.label }}
                                            {{ form.password(size=32) }}
                                            {% for error in form.password.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}                                        </p>
                                        <p style="color:white">
                                            {{ form.password2.label }}
                                            {{ form.password2(size=32) }}
                                            {% for error in form.password2.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </p>
                                        <p class="text-center font-size-1 text-light">Already have an account? <a href = "{{ url_for('main.login') }}" class="text-light">Log-in here!</a></p>
                                        <p>{{ form.submit() }}</p>
                                    </form>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
