{% extends 'base.html' %}

{% block title %}PokeSwap - Trade Offer{% endblock %}

{% block extra_head %}
<style>
    /* Custom styles specific to the Home page */
    .gotta-catch, .trade-offer {
        font-family: 'Comic Sans MS', cursive;
        color: lightslategray;
        text-align: center;
        margin-top: 20px;
    }
    .card-title, .text-center.h2 {
        font-family: 'Comic Sans MS', cursive;
        color: lightblue;
    }
    .pagination a {
        font-family: 'Comic Sans MS', cursive;

    }
</style>
{% endblock %}

{% block content %}
<div class="container text-center mt-5">
</div>

{% endblock content %}